.vs/
[b|B]in
[o|O]bj
packages
Artifacts/
buildtools/*
!buildtools/NpmBuildHelpers.psm1
!buildtools/packages.config
FunctionalTestSettings
FunctionalTest.runsettings
*.dll
*.jar
*.exe
*.bin
!vendor/*
Source/BillingCalculator.sln.DotSettings.user
Source/BillingCalculator.CustomPage/cypress/screenshots
.vscode/settings.json
*.idea